<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SystemCredentials</title>
    <!-- bootstracp -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<main role="main" class="container">
    <h2> Add System Credentials</h2>
    <br>
    <form action="#" th:action="@{/systemcredentials/add}" class="form-group"
          th:object="${systemCredentials}" method="post">
        <div class="form-group">
            <label>systemName</label>
            <input type="text" class="form-control" id="systemName" th:field="*{systemName}"  name="systemName">
        </div>
        <input type="hidden" th:field="*{id}" name="id" id="id">
        <div class="form-group">
            <label>userName</label>
            <input type="text" class="form-control" id="userName" th:field="*{userName}" name="userName">
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" id="email" th:field="*{email}" name="email">
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="text" class="form-control" id="password" th:field="*{password}" name="password">
        </div>
        <button type="submit" class="btn btn-success"> Save </button>
    </form>
</main>

</body>
</html>