<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Systems</title>
    <!-- bootstracp -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">

</head>
<body>
<div>
    <main role="main" class="container">
        <div class="starter-template">
            <h1>Never Forget Password</h1>
        </div>
        <div th:if="${systems!=null and !systems.isEmpty()}">
            <table class="table table-dark">
                <tr>
                    <th scope="col">USERNAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">SYSTEM NAME</th>
                    <th></th>
                    <th></th>

                </tr>
                <tr th:each="sc : ${systems}">
                    <td th:text="${sc.id}" scope="row"></td>
                    <td th:text="${sc.userName}"></td>
                    <td th:text="${sc.email}"></td>
                    <td th:text="${sc.systemName}"></td>
                    <td><a class="btn btn-info" th:href="@{/systemcredentials/add/{id} (id=${sc.id})}"> Editar </a></td>
                    <td><a class="btn btn-danger" th:href="@{/systemcredentials/delete/{id} (id=${sc.id})}"> Eliminar </a></td>
                </tr>
            </table>
        </div>
        <div th:if="${systems==null or systems.isEmpty()}">
            <h3>You don't have any System Credentials</h3>
        </div>
        <div>
            <a href="/systemcredentials/add/0" class=" btn btn-primary"> Agregar </a>
        </div>
    </main>
</div>
</body>
</html>